In [1]:

x1 = float(input())
y1 = float(input())

x2 = float(input())
y2 = float(input())

midpoint_1 = (x1 +x2)/2
midpoint_2 = (y1 +y2)/2
print(f'{midpoint_1} {midpoint_2}')

3
4
2
3
2.5 3.5

In [4]:
x = int(input())
y = int(input())
z = (x+y)*(x+y)
print(z)

3
4
49

In [7]:
x = int(input())
y = int(input())
a = x
x=y
y=a
print(f'{a} {x} {x} {y}')

30
20
30 20 20 30

## How to print the result in one line

In [6]:
x = int(input())
y = int(input())
x,y = y,x
print('x:',x,'y:',y)

4
1
x: 1 y: 4

In [1]:
height = float(input())
weight = float(input())
BMI = weight/(height)**2
bmi = round(BMI,2)
print(f'Your BMI is',bmi)

6
65
Your BMI is 1.81

In [2]:
number = float(input())
digit = int(input())
print(round(number,digit))

10.5247
2
10.52

In [7]:
print('Hello','Deepu')

Hello Deepu

In [12]:
x = 'code'
y = 'debug'
a = x
b = y
x,y = y,x
print(a,b,x,y)

code debug debug code

In [15]:
a = x[:2]+
print(a)

deco

In [33]:
s = str(input())
# lis = list(s)
lis = s.split()
empt = ''
for i in lis:
    x=(i[0].upper()+i[1:])
    empt = empt +' '+ x
print(empt.strip())

1 2 2 3 4 5 6 7 8  9
1 2 2 3 4 5 6 7 8 9

In [5]:
val1 = str(input())
val2 = str(input())
# print(val2[:2] + val1[-1:-3:-1])
print(val2[:2] + val1[2:] + ' ' + val1[:2] + val2[2:])

code
debug
dede cobug

In [13]:
val1 = str(input())
val2 = int(input())
print(val1[:val2]+val1[val2+1:])

Sanjay Kumar Ram
4
Sanjy Kumar Ram

In [15]:
val1 = str(input())
val2 = int(input())
print(val1[:val2-1])

Sanjay
4
San

# list code questions

# under code tab in lectures

In [8]:
val = list(input())
val.split()
print(list(val))

1,2,3,4

AttributeError: 'list' object has no attribute 'split'

In [2]:
# find if e is smaller than all the elements in lis
lis = [2, 3, 4, 5]
e = []
for i in lis:
    if i > 1:
        e.append(True)
        #print(e)
    else:
        #print('False')
        e.append('False')
        
# print(e)
if 'False' in e:
    print('False')
else:
    print('True')

# a little compressed    
# y = []
# lis = [6,5,1,4,7]
# for i in lis:
#     y.append(i>0)
# if False in y:
#     print(False)
# else:
#     print(True)

True

In [2]:
# same code with step wise user input
val = int(input('enter the no. of elements: '))
mylist = []
for i in range(val):
    numb = int(input())
    mylist.append(numb)
print('You list consist of following elements ',mylist)
val1 = int(input('enter the value to compare '))
cal_list = []
for i in mylist:
    cal_list.append(i > val1)
if False in cal_list:
    print(False)
else:
    print(True)

enter the no. of elements: 1
2
You list consist of following elements  [2]
enter the value to compare 1
True

In [43]:
lis = [2, 3, 4, 5]
min(lis) > 4

False

# Something new than usual

In [48]:
# Take input and convert into list
val1 = eval(input())
print(list(val1))

1,2,3,4,5
[1, 2, 3, 4, 5]

In [53]:
# take input and convert into list using the for loop 
lis = []
element = int(input())
for i in range(0,element):
    value = int(input())
    lis.append(value)
print(lis)

3
1
2
2
[1, 2, 2]

In [51]:
num = eval(input())
n = int(input())
print(all(x > n for x in num))
# This is basically a combination of list comprehension and all function

1,2,3,4
3
False

In [54]:
x = [1,2,3,4]
all(x)

True

In [55]:
x > n for x in num

SyntaxError: invalid syntax (3027583562.py, line 1)

In [58]:
List = [character for character in [1, 2, 3]]
print(List)

[1, 2, 3]

In [59]:
x = [1,3,4,5]
all(i>2for i in x)

False

In [6]:
val = eval(input())
value = int(input())
lis = (list(val))
t=(i> value for i in lis)
print(list(t))

1,2,3,4,5
0
[True, True, True, True, True]

In [13]:
emp = []
lis = [1,2,3,4,5]
for i in lis:
#     i > 0
    emp.append(i>0)
print(emp)

[True, True, True, True, True]

In [8]:
1>8

False

In [11]:
y=[i > 0 for i in lis]
print(y)

[True, True, True, True, True]

In [16]:
# other way to take input 
your_list = []
val = int(input())
for i in range(val):
    value = int(input())
    your_list.append(value)
#     print(your_list)   
print(your_list)

3
1
3
5
[1, 3, 5]

In [18]:
color_list = ["Red","Green","White" ,"Black"]
print(color_list[0] +' '+ color_list[-1])

Red Black

In [9]:
y = 'deepu'
print("Hello %s!" % y)

Hello deepu!

In [ ]:
("Hey, %s!" % name)

In [11]:
print("Hey,my name %s is " % y)

Hey,my name deepu is

In [12]:
# your code goes here
lst = eval(input())
print( "%s %s"%(lst[0],lst[-1]))

1,2,5,9
1 9

In [20]:
x='a'
y='b'
print("%s %s"%(x,y))

a b

## %s is basically concat function made obscure % here can be considered as + for your understanding below is the syntax

In [29]:
a = 'I'
b = 'prefer'
c = 'to'
d = 'stay'
e = 'single'

print('%s %s %s %s %s '%(a,b,c,d,e))

I prefer to stay single

In [30]:
a = 'I'
b = 'prefer'
c = 'to'
d = 'stay'
e = 'single'
f = ['I','have']
print('%s %s %s %s %s %s'%(a,b,c,d,e,f))

I prefer to stay single ['I', 'have']

In [31]:
dic = {'str1':'I','str2':'have','str3':'always','str4':'been','str5':'single'} # this is the syntax you can't argue
print("%(str3)s %(str1)s %(str2)s %(str4)s %(str5)s" % dic)

always I have been single

In [32]:
value = eval(input())
print("%s %s" %(value[0],value[-1]))

1,2,3,4,5
1 5

In [43]:
your_list = []
shots = int(input('Enter the length of the list'))
for i in range(shots):
    value = int(input())
    your_list.append(value)
steps = int(input('Enter the steps'))    
print(your_list[1::steps])

Enter the length of the list10
1
2
3
4
5
6
7
8
9
10
Enter the steps2
[2, 4, 6, 8, 10]

In [42]:
lis = [1,2,3,4,5,6,7,8,9,10]
lis[1::2]

[2, 4, 6, 8, 10]

In [ ]:
x = [1,2,3]
y = ['red','green','blue']
x.extend(y)
print(x)

In [12]:
# seprating the negative from the positive
lis=[34, 1, 0, -23, 12, -88]
y=filter(lambda x: x > 0,lis)
print(list(y))

[34, 1, 12]

In [16]:
# seprating the negative from the positive using for loop
y = []
for i in lis:
    if i > 0:
        y.append(i)
print(y)

[34, 1, 12]

# Assignements

In [25]:
temperatures = [34, 40, 29, 33, 42, 37, 39 ]
# print(max(temperatures))
# print(min(temperatures))
temperatures[temperatures.index(max(temperatures))],temperatures[temperatures.index(min(temperatures))] = temperatures[temperatures.index(min(temperatures))],temperatures[temperatures.index(max(temperatures))]
print(temperatures)

[34, 40, 42, 33, 29, 37, 39]

In [30]:
tech_companies = ['Qualcomm','Google','Apple',['Nvidia','Cisco','Samsung']]
x = tech_companies[-1]
tech_companies.remove(tech_companies[-1])

In [32]:
tech_companies + x

['Qualcomm', 'Google', 'Apple', 'Nvidia', 'Cisco', 'Samsung']

In [34]:
prod_price_list = [400, 250, 800, 550, 600, 820, 720, 15000, 360,250]

In [48]:
lis = prod_price_list
for i in range(len(lis)):
    value = lis[i]
    j = i
    if j > 0 and lis[j-1] > value: # check which statement you have used here 
        lis[j],lis[j-1] = lis[j-1],lis[j]
        j = j-1
#     lis[j] = value  
    print(lis)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
loss_function= ['Mean Absolute Error','Mean Squared Error','Huber Loss','Log Loss','Hinge Loss']
loss_function[0:-10:-1]

['Mean Absolute Error']

# questions worngs

In [52]:
word1="Apple"
word2="Apple"
list1=[1,2,3]
list2=[1,2,3]
print(word1 is word2) 
print(list1 is list2)

True
False

In [56]:
a=[[]]*3
# a[1].append(7) 
print(a)

[[], [], []]

In [58]:
a=[10,23,56,[78]]
b=list(a) 
a[3][0]=95
a[1]=34
print(b)

[10, 23, 56, [95]]

In [5]:
a=[10,23,56,[78]]
b = list(a)
print(b)

[10, 23, 56, [78]]

In [4]:
a

[10, 34, 56, [78]]

In [59]:
lst=[[1,2],[3,4]]
print(sum(lst,[]))

[1, 2, 3, 4]

# tuple , set, dictonary

In [2]:
val = input().split(',')

deepu, kumar

In [3]:
string = 'deepu , kumar, gond'
string.split(',')

['deepu ', ' kumar', ' gond']

In [6]:
string = 'deepu'
string.split()

['deepu']

# Statement and inentation

### Write a Python program to calculate a dog's age in dog's years. Note: For the first two years, a dog year is equal to 10.5 human years.After that, each dog year equals 4 human years.

In [ ]:
#my code
age_input = int(input())
if 0 <= age_input <= 2:
    print(age_input*10.5)
else:
    print(21 + (age_input - 2)* 4)

In [ ]:
#sol code
# your code goes here
h_age = int(input())
d_age = 0
if h_age <= 2 and h_age >= 0:
        d_age = h_age * 10.5
else:
        d_age = 21 + (h_age - 2)*4

print("Dog's age:", d_age)

### Write a Python program to check whether an alphabet is a vowel or consonant.

In [ ]:
#So before going forward lets clear the confusion between 
x = 'hello'
x.split()

In [ ]:
x = 'hello'
list(x)

# These both are two differnt functions

In [ ]:
#my sol
val = input()
vowels = 'aeiou'
lis = list(vowels)
if val.lower() in lis: # val.lower will convert the alphabet into lower and check if its in lis
    print('Vowel')
else:
    print('Not a vowel')

In [ ]:
#code sol
# your code goes here
l = input()

if l in ('a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U'):
        print("Vowel")
else:
        print("Consonant")

### Write a Python program to convert month name to a number of days. Print 'Wrong month name' for incorrect input. Note: February has 28/29 days.

In [ ]:
val = str(input())
lis1 = ['january','march','may','july','august','october','december']
lis2 = ['april','june','september','november']
if val.lower() in lis1:
    print(31)
elif val.lower in lis2:
    print(30)
elif val.lower() == 'feburary':
    print('28/29')
else:
    print('Wrong month name')

### Write a Python program to check a triangle is equilateral, isosceles or scalene. Note : An equilateral triangle is a triangle in which all three sides are equal. A scalene triangle is a triangle that has three unequal sides. An isosceles triangle is a triangle with (at least) two equal sides.

In [ ]:
#my code
val1 = int(input())
val2 = int(input())
val3 = int(input())
if val1 != val2 and val1 != val3:
    print('Scalen')
elif val1 == val2 == val3:
    print('Equaliteral')
else:
    print('Isoceles')

In [ ]:
# code sol
# your code goes here
x = int(input())
y = int(input())
z = int(input())

if x == y == z:
        print("Equilateral triangle")
elif x==y or y==z or z==x:
        print("Isosceles triangle")
else:
        print("Scalene triangle")

### Write a Python program to find the biggest even number between two numbers inclusive.

In [12]:
x = int(input())
y = int(input())
if x > y:
    if x % 2 == 0:
        print(x)
    else:
        print(x - 1)
elif y % 2 == 0:
    print(y)

else:
    print(y-1)

54
09
54

In [11]:
x = 21 
y = 56
if x > y and x%2 == 0:
    print(x)
elif x>y and x%2 != 0:
    print(x-1)
else:
    print(y)

56

In [8]:
x = 1
x == 2

False

In [20]:
#code solution
m = int(input())
n = int(input())
if m > n or (m == n and m % 2 == 1):
    print("-1")
if n % 2 == 0: 
    print(n) 
else:
    print(n - 1)

4
3
-1
2

In [17]:
# my code
x = int(input())
y = int(input())
if x > y:
    if x % 2 == 0:
        print(x)
    else:
        print(x-1)
elif y > x:
    if y % 2 == 0:
        print(y)
    else:
        print(y-1)
elif x == y:
    if x % 2 == 0:
        print(x)
    else:
        print(x-1)

87
90
90

# loops and iteration

In [3]:
user_list = []
val = int(input()) # started the input to start the while loop once you enter )
while val != 0:
    val = int(input())
    user_list.append(val)
print(user_list)

1
2
3
4
0
[2, 3, 4, 0]

In [1]:
#code to calculate the sum and average of list of user_input numbers
user_list = []
val = int(input())
while val != 0:
    user_list.append(val)
    val = int(input())
user_list.append(val)
print(user_list)
print(f'Sum is {float(sum(user_list))}')
print(f'Average is {(sum(user_list))/(len(user_list)-1)}')

2
4
8
10
0
[2, 4, 8, 10, 0]
Sum is 24.0
Average is 6.0

In [10]:
# code solutions
count = 0
sum = 0.0
number = 1

while number != 0:
        number = int(input(""))
        sum = sum + number
        count += 1

if count == 0:
        print("Input some numbers")
else:
        print("Average and Sum of the above numbers are: ", sum / (count-1), sum)

0

ZeroDivisionError: float division by zero

# Note: From next time onwards try not to used list  as it hampers the space time complexity of the code

In [21]:
# my solution and their solution are same 
val = int(input())
for i in range(1,val+1):
    print(str(i)*i)

4
1
22
333
4444

In [18]:
x = '2'*2
print(x)

22

In [25]:
vala = int(input())
for i in range(1,vala):
    print(i)
    for j in range(1,i):
        print(i,j)

4
1
2
2 1
3
3 1
3 2

In [28]:
for i in range(1,1):
    print(i)

In [29]:
for i in range(1,2):
    print(i)

1

In [30]:
n = int(input())
for i in range(1,11):
  print(n, 'x', i, '=', n*i)

7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

In [32]:
val = int(input())
for i in range(1,11):
    print(val,'X',i,val*i) # print(multiple things in one one)

10
10 X 1 10
10 X 2 20
10 X 3 30
10 X 4 40
10 X 5 50
10 X 6 60
10 X 7 70
10 X 8 80
10 X 9 90
10 X 10 100

In [53]:
year = int(input())
month = int(input())
day = int(input())
print(year,month,day)
counter = 0
if day == 31:
    day = counter
    counter += 1
    day = counter
else:
    day += 1

if month == 12 and day == 31:
    month = counter
    counter += 1
    month = counter
else:
    month = month

print(year,month,day)

2011
12
31
2011 12 31
2011 12 1

In [37]:
val = int(input())
val = val + 1
print(va;)

SyntaxError: invalid syntax (1061205631.py, line 3)

In [47]:
reset = 0
val = int(input())
if val == 31:
    val = reset
    reset += 1
    print(reset)
else: 
    val += 1
    print(val)

30
31

In [8]:
# taking input form the user
day = int(input())
month = int(input())
year = int(input())

#printing the user input 
print(f'The date you have enter is {day}-{month}-{year}')

# assigning the reset
reset = 0

#logic
if 1 <= day <= 30 and 1 <= month <= 11:
    day += 1

elif day == 31 and 1 <= month <= 11:
    day = reset
    day += 1
    month += 1

elif day == 31 and month == 12:
    day = reset 
    day += 1
    month = reset 
    month += 1
    year += 1
elif day > 31 and month > 12:
    print('Please enter correct date')

print(f'Tomorrows date is {day}-{month}-{year}')

12
12
2022
The date you have enter is 12-12-2022
Tomorrows date is 12-12-2022

In [16]:
# code to check if a given year is leap year or not 
year = int(input())
if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print('Leap year')
        else:
            print('Not a leap year')
    else:
        print('Leap year')

else:
    print('Not a leap year')

2012
Leap year

In [2]:
def leap_check(year):
    '''Tells if the year is leap or not '''
    if year % 4 == 0:
        if year % 100 == 0:
            if year % 400 == 0:
                #print('Leap year')
                #result = 'Leap_year'
                #return result
                return True
            
            else:
                #print('Not a leap year')
                #result = 'Not Leap_year'
                #return result
                return False
        else:
            #print('Leap year')
            #result = 'Leap_year'
            #return result
            return True

    else:
        #print('Not a leap year')
        #result = 'Not Leap_year'
        #return result
        return False

In [24]:
leap_check(2000)

True

In [17]:
# version 2

# user date input 
day = int(input())
month = int(input())
year = int(input())

# print user input 
print(f'The date you have entered is: {day}-{month}-{year}')

"""Pre-requisite counter reset , 30/31- month check, leap year- check"""
reset = 0
month_31= [1,3,5,7,8,10,12]
month_30= [4,6,9,11]
year_check = leap_check(year)


# this code will be executed for not leap year
if year_check != True: # checks for leap year
    if month in month_30: # checks for 30 days
        if 1 <= day <= 29:
            day += 1
        
        elif day == 30:
            day = reset
            day += 1
            month += 1
    
    elif month in month_31:
        if 1 <= day <= 30:
            day += 1
        
        elif day == 31 and month != 12:
            day = reset
            day += 1
            month += 1
        
        elif day == 31 and month == 12:
            day = reset
            day += 1
            month = reset
            month += 1
            year +=1
    
    elif month == 2:
        if 1 <= day <= 27:
            day += 1
        
        elif day == 28:
            day = reset
            day += 1
            month += 1
else:                                               # same logic is used for leap year code with a bit empasis of day in feb
    if month in month_30: # checks for 30 days
        if 1 <= day <= 29:
            day += 1
        
        elif day == 30:
            day = reset
            day += 1
            month += 1
    
    elif month in month_31:
        if 1 <= day <= 30:
            day += 1
        
        elif day == 31 and month != 12:
            day = reset
            day += 1
            month += 1
        
        elif day == 31 and month == 12:
            day = reset
            day += 1
            month = reset
            month += 1
            year +=1
    
    elif month == 2:
        if 1 <= day <= 28:
            day += 1
        
        elif day == 29:
            day = reset
            day += 1
            month += 1

print(f'Tomorrow\'s date is {day}-{month}-{year}')

29
02
2012
The date you have entered is: 29-2-2012
Tomorrow's date is 1-3-2012

In [19]:
# A much better code then mine and exquisitively organised
year = int(input())
month = int(input())
day = int(input())
    
if (year % 400 == 0):
  leap_year = True
elif (year % 100 == 0):
  leap_year = False
elif (year % 4 == 0):
  leap_year = True
else:
  leap_year = False


if month in (1, 3, 5, 7, 8, 10, 12):
  month_length = 31
elif month == 2:
  if leap_year:
    month_length = 29
  else:
    month_length = 28
else:
  month_length = 30

if day < month_length:
  day += 1
else:
  day = 1
  if month == 12:
    month = 1
    year += 1
  else:
    month += 1
print ("The next date is [yyyy-mm-dd] %d-%d-%d." % (year, month, day))

2001
12
31
The next date is [yyyy-mm-dd] 2002-1-1.

In [32]:
# a complex code to comprehend 
x = True
if x == 1: # I have used truthy falsey logic here
    print('Hey')

Hey

In [34]:
# easier version
if x == True:
    print('hey')

hey

In [36]:
x,y,z  = 1,2,3
if x == 1 and y == 2 and z == 3:
    print('check')

check

In [ ]:
da = int(input())
if da ==  31:
    print('enter right day')
    break
else:
    pass
mo = int(input())
if mo > 12:
    print('enter right month')
    break
else:
    pass
ye = int(input())
print(da,mo,ye)

# list comprehension

In [1]:
#my solutions
x = [12, 0, None, 23, None, -55, 234, 89, None, 0, 6, -12]
list_comprehension = [i for i in x if i != None]
print(list_comprehension)

[12, 0, 23, -55, 234, 89, 0, 6, -12]

In [ ]:
# given solutions
nums = eval(input())
result = [x for x in nums if x is not None]
print(result)

In [4]:
lis = [1, None, 5, 4,None, 0, None, None]
lis.index(None)

1

In [5]:
# my solution
[i for i in range(len(lis)) if lis[i] == None]

[1, 4, 6, 7]

In [6]:
# given solution
lst = eval(input())
result = [i for i in range(len(lst)) if lst[i] == None]
print(result)

In [7]:
mlis = ['red', 'green', 'blue', 'white', 'black', 'orange']

ulis = ['white', 'orange']

In [8]:
#my solution
[i for i in mlis if i not in ulis]

['red', 'green', 'blue', 'black']

In [9]:
# code solution
word = eval(input())
remove_word = eval(input())
lst = [word for word in word if word not in remove_word]
print(lst)

In [28]:
lisy = ["red", "black", "white", "green", "orange"]

In [16]:
for i in lisy:
    print(lisy[::2])
    break

['red', 'white', 'orange']

In [40]:
for i in range(0,len(lisy),2):
    print(lisy[i])

red
white
orange

In [39]:
#my solution
lisy = ["red", "black", "white", "green", "orange"]
print([lisy[i] for i in range(0,len(lisy),2)])

['red', 'white', 'orange']

In [ ]:
#code solution
# this one is good
colors = eval(input())
result = [item for item in colors[::2]]
print(result)

In [29]:
list1 = [1,2,3,4,5,6,7,8,9,10]

list2 = [2,4,6,8]

In [41]:
#my solution
[i for i in list1 if i not in list2]

[1, 3, 5, 7, 9, 10]

In [ ]:
# code solution
list1 = eval(input())
list2 = eval(input())
result = [x for x in list1 if x not in list2]
print(result)

# Function and methods

In [3]:
y = eval(input())
print(max(y))

1,2,3,4,
4

In [4]:
def max_fun(lis):
    return max(lis)

In [5]:
lis = [1,5,78]
max_fun(lis)

78

In [8]:
def max_two(a,b):
    if a>b:
        return a
    return b

In [9]:
max_two(4,6)

6

In [10]:
def max_3(a,b,c):
    if a>b and a>c:
        return a
    elif b>a and b>c:
        return b
    else:
        return c

In [13]:
max_3()

6

In [ ]:
# how to take input in the function

In [23]:
def max_3i(): # don't set the parameteres 
    a = int(input()) # ask for parameteres here instead
    b = int(input())
    c = int(input())
    if a>b and a>c: # the logic part which we write normally 
        return a
    elif b>a and b>c:
        return b
    else:
        return c

In [22]:
max_3i()

4
56
7

56

In [24]:
def sum_lis(lis):
    total = 0
    for i in lis:
        total = total + i
    return total

In [25]:
sum_lis([1,2,3,4])

10

In [26]:
lis = list(range(10))

In [27]:
sum_lis(lis)

45

In [33]:
def multiply(listy):
    product = 1
    for i in listy:
        product *= i # product = product * i 
    return product

In [34]:
multiply(lis)

120

In [35]:
lis = [1,2,3,4,5]
multiply(lis)

120

In [36]:
user_list = eval(input())
print(multiply(user_list))

1,2,3,4,5
120

In [37]:
def reverse_string(string):
    return string[::-1]

In [38]:
user_string = str(input())
print(reverse_string(user_string))

deepu
upeed

In [40]:
x = 'Deepu Kumar'
reversed_string = ''
y = len(x)-1
while y >= 0:
    reversed_string = reversed_string + x[y]
    y = y - 1
print(reversed_string)

ramuK upeeD

In [54]:
def reverse_while(string):
    reversed_string = ''
    index = len(string) - 1
    while index >= 0:
        reversed_string += string[index]
        index -= 1
    return reversed_string

In [57]:
user_string = str(input())
print(reverse_while(user_string))

The quick brown fox jumps over the lazy dog
god yzal eht revo spmuj xof nworb kciuq ehT

In [51]:
reverse_while('deepu kumar')

''

In [67]:
string = 'The quick brown fox jumps over the lazy dog'
string_reversed = ''
for i in range(1,len(string)+1):
    index = -1*i
    string_reversed=string_reversed + string[index] 
    #print(i)
print(string_reversed)

god yzal eht revo spmuj xof nworb kciuq ehT

In [68]:
def reverse_for(string):
    string_reversed = ''
    for i in range(1,len(string)+1):
        index = -1*i
        string_reversed = string_reversed + string[index]
    return string_reversed

In [69]:
reverse_for('deepu')

'upeed'

In [90]:
val = int(input())
factorial = 1
if val>0:
    for i in range(1,val+1):
        factorial *= i
    print(factorial)
elif val == 0:
    print('enter a non zero number')
else:
    print('enter a positive number')

4
24

In [95]:
def factorial_numb(val):
    factorial = 1
    if val>0:
        for i in range(1,val+1):
            factorial *= i
        return factorial
    elif val == 0:
        result = 'enter a non zero number'
        return result
    else:
        result = 'enter a positive number'
        return result

In [100]:
user_input = int(input())
print(factorial_numb(user_input))

10
3628800