In [5]:
# Same code as below, this was in working phase 
empty_list = []
empty_list_2 = []
for i in range(3):
    for j in range(3):
        for k in range(3):
            coordinates = [i,j,k]
            empty_list.append(coordinates)
# all_cord = empty_list

for elem in empty_list:
    if sum(elem) != 3:
        empty_list_2.append(elem)

# print(empty_list_2)   
print(empty_list)

empty_list.remove(empty_list_2)

[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [0, 1, 2], [0, 2, 0], [0, 2, 1], [0, 2, 2], [1, 0, 0], [1, 0, 1], [1, 0, 2], [1, 1, 0], [1, 1, 1], [1, 1, 2], [1, 2, 0], [1, 2, 1], [1, 2, 2], [2, 0, 0], [2, 0, 1], [2, 0, 2], [2, 1, 0], [2, 1, 1], [2, 1, 2], [2, 2, 0], [2, 2, 1], [2, 2, 2]]

ValueError: list.remove(x): x not in list

In [22]:
empty_set = set()
for i in range(3):
#     empty_set.add(i) 
#     print(empty_set) This piece of code works though 
    for j in range(3):
        setty = {i,j}
        empty_set.add(setty)
print(empty_set)

TypeError: unhashable type: 'set'

### Write a code to generate all the possible coordinates of cuboid, which follows folllowing conditions 
### 1. The sum of cordinates should not be equal to user defined value n.
### 2. It should have an input of 3D point.
### 3. Convert the code into one-liner(list comprehensioin)
### 4. Convert the code into function.

In [4]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())
print('') # for the extra space    
empty_list_A = []
empty_list_B = []
for i in range(x+1):
    for j in range(y+1):
        for k in range(z+1):
            cord = [i,j,k]
            empty_list_A.append(cord)

for elem in empty_list_A:
    if sum(elem) != n:
        empty_list_B.append(elem)

print(empty_list_B)

1
2
2
3

[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [0, 2, 0], [0, 2, 2], [1, 0, 0], [1, 0, 1], [1, 1, 0], [1, 1, 2], [1, 2, 1], [1, 2, 2]]

Please explain the correlation between user input and no. of cordinates and loops

In [ ]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())
print('') # for the extra space    
empty_list_A = []
empty_list_B = []
for i in range(x+1):
    for j in range(y+1):
        for k in range(z+1):
            cord = [i,j,k]
            empty_list_A.append(cord)

for elem in empty_list_A:
    if sum(elem) != n:
        empty_list_B.append(elem)

print(empty_list_B)

## The same code in one liner or in list comprehesion for is

In [2]:
x = int(input())
y = int(input())
z = int(input())
n = int(input())
listy = [[k,j,i] for k in range(z+1) for j in range(y+1) for i in range(x+1) if i+j+k != n]
print(listy) # please explain the order of i,j,k

1
1
1
2
[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

In [8]:
listy = [[k,j,i] for k in range(4) for j in range(3) for i in range(2) if i+j+k != 3]
print(listy)

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [0, 1, 1], [0, 2, 0], [1, 0, 0], [1, 0, 1], [1, 1, 0], [1, 2, 1], [2, 0, 0], [2, 1, 1], [2, 2, 0], [2, 2, 1], [3, 0, 1], [3, 1, 0], [3, 1, 1], [3, 2, 0], [3, 2, 1]]

In [7]:
for i in range(2):
    for j in range(3):
        for k in range(4):
#             print(i,j,k)
            
            if i+j+k != 3:
                print(i,j,k)

0 0 0
0 0 1
0 0 2
0 1 0
0 1 1
0 1 3
0 2 0
0 2 2
0 2 3
1 0 0
1 0 1
1 0 3
1 1 0
1 1 2
1 1 3
1 2 1
1 2 2
1 2 3

In [10]:
listy = [[i,j,k] for i in range(2) for j in range(3) for k in range(4) if i+j+k != 3]
print(listy)

[[0, 0, 0], [0, 0, 1], [0, 0, 2], [0, 1, 0], [0, 1, 1], [0, 1, 3], [0, 2, 0], [0, 2, 2], [0, 2, 3], [1, 0, 0], [1, 0, 1], [1, 0, 3], [1, 1, 0], [1, 1, 2], [1, 1, 3], [1, 2, 1], [1, 2, 2], [1, 2, 3]]

In [11]:
listy = [[i,j,k] for i in range(2) for j in range(2) for k in range(2) if i+j+k != 2]
print(listy) # this is the correct way to write list comprehension

[[0, 0, 0], [0, 0, 1], [0, 1, 0], [1, 0, 0], [1, 1, 1]]

# Lets learn how to import files in python or more specifically into pandas

So what just happened here . So python is

In [4]:
pwd # this is to where is python right now in what directory

'C:\\Users\\Deepu\\Documents\\My_Python_codes'

In [5]:
cd C:\Users\Deepu\Desktop # NOw we have to change the direction to the path of the file by using cd path

C:\Users\Deepu\Desktop

In [6]:
pwd # Now check again if the directory of the python has change or not

'C:\\Users\\Deepu\\Desktop'

In [9]:
import pandas as pd

df = pd.read_csv('data.csv') # Now here we just have to give the name of the file 

display(df)

,Client Name,Email,Groups,Last Message,Last File,Last Page
0,Paritosh Mishra,paritosh.mishra29@gmail.com,Attempt to contact; Lost lead,-,-,-
1,Ashish Lamkhade,lamkhade.ashish64@gmail.com,Hot lead,-,-,-
2,Ramesh Patil,rameshspatil79@gmail.com,-,-,-,-
3,Sandeep Hajare,Sandeep.hajare@gmail.com,-,-,-,-
4,Amol Navale,amolnavale04@gmail.com,-,-,-,-
...,...,...,...,...,...,...
2500,Test Lead,support@privyr.com,-,-,-,-
2501,Alok Mukherjee,-,Warm lead,2021-03-12 - 01:27 PM,2021-03-12 - 01:27 PM,-
2502,Test Client for Priyanka,support@privyr.com,-,-,-,-
2503,pavan,-,Dealer; Outside Pune; Warm lead,2021-03-05 - 03:37 PM,2021-03-05 - 03:19 PM,2021-03-03 - 06:12 PM
2504,Privyr Support,support@privyr.com,-,-,-,-

In [15]:
df.tail(20)

,Client Name,Email,Groups,Last Message,Last File,Last Page
2485,Prashant Jadhav,pjadgav067@gmail.com,Attempt to contact,2021-03-07 - 02:21 PM,2021-03-07 - 02:22 PM,-
2486,Bhimrao Gaikwad,brsweet.gai@gmail.com,Lost lead,2021-03-07 - 02:19 PM,2021-03-07 - 02:20 PM,-
2487,Santosh Bhosale,sbpainter170@gmail.com,-,-,-,-
2488,Vijay Chavan,chavan.vijay96@gmail.com,Attempt to contact,2021-03-07 - 02:17 PM,2021-03-07 - 02:18 PM,-
2489,Kiran Latne,dr.drkiran4u@yahoo.com,Hot lead,-,-,-
2490,Subhra Kanta Patel,subhraa123@gmail.com,Attempt to contact,2021-03-07 - 02:16 PM,2021-03-07 - 02:16 PM,-
2491,Babulal Ramaji Choudhary,manishahardware.electronics@gmail.com,-,-,-,-
2492,Ashish Jadhav Deshmukh,ashishjadhav3441@gmail.com,-,2021-03-03 - 08:45 PM,-,-
2493,Gautam Bamne,gautambamne@gmail.com,Cold lead,2021-03-07 - 02:08 PM,-,2021-03-07 - 02:12 PM
2494,Hitendra Jaiswal,hitendra.j12@gmail.com,Cold lead,2021-03-07 - 02:05 PM,2021-03-07 - 02:06 PM,-
2495,Ca Arvind Singh,arvindsingh8426@gmail.com,-,-,-,-
2496,Kaleem Shaikh,shak.aleem@gmail.com,Attempt to contact,2021-03-07 - 02:01 PM,2021-03-07 - 02:03 PM,-
2497,Mallikarjun,mallikarjunbisnal@gmail.com,Warm lead,-,-,-
2498,Test Lead,support@privyr.com,-,2021-03-03 - 07:22 PM,-,-
2499,Test Lead,support@privyr.com,-,-,-,-
2500,Test Lead,support@privyr.com,-,-,-,-
2501,Alok Mukherjee,-,Warm lead,2021-03-12 - 01:27 PM,2021-03-12 - 01:27 PM,-
2502,Test Client for Priyanka,support@privyr.com,-,-,-,-
2503,pavan,-,Dealer; Outside Pune; Warm lead,2021-03-05 - 03:37 PM,2021-03-05 - 03:19 PM,2021-03-03 - 06:12 PM
2504,Privyr Support,support@privyr.com,-,-,-,-

In [17]:
df.columns

Index(['Client Name', 'Email', 'Groups', 'Last Message', 'Last File',
       'Last Page'],
      dtype='object')

In [5]:
listy = [6,4,1]
a = len(listy) # this is done to run the loop 
for i in range(1,a): # range is used to run the loop smoothly we had this issue wile solving alone 
    value = listy[i] # define to swap value 
    j = i
    while j>0 and listy[j-1] > value: #swaping process starts
        listy[j] = listy[j-1]
        j = j-1
        listy[j] = value
        print(listy)

[4, 6, 1]
[4, 1, 6]
[1, 4, 6]

In [22]:
listy = [1,2,2,2,3,4,5,6]
unique = []
for i in range(0,len(listy)):
    value = listy[i]
#     print(value)
    j = i + 1
    while value != listy[j] and j < len(listy)-1:
        unique.append(value)
        j += 1
    print(unique)

[1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1]
[1, 1, 1, 1, 1, 1, 2, 2, 2]
[1, 1, 1, 1, 1, 1, 2, 2, 2, 3, 3]
[1, 1, 1, 1, 1, 1, 2, 2, 2, 3, 3, 4]
[1, 1, 1, 1, 1, 1, 2, 2, 2, 3, 3, 4]

IndexError: list index out of range

In [ ]:
listy = [1,2,2,2,3,4,5,6]

In [6]:
list_1 = []
for _ in range(int(input())):
    name = input('Please enter name: ')
    score = float(input('Please enter score: '))
    zippy = list(zip(name,score)) 
    list_a = name
    list_b = score
print(list_a)
print(list_b)

2
Please enter name: deepu
Please enter score: 43

TypeError: 'float' object is not iterable

In [8]:
x = ['deepu','chitu','amit']
y = [12,23,43]
for i,j in zip(x,y):
    print(i,j)

deepu 12
chitu 23
amit 43

In [12]:
x = ['Deepu','Chitu','Amit']
y = [43,23,53]
z = list(zip(x,y))
z

[('Deepu', 43), ('Chitu', 23), ('Amit', 53)]

In [ ]:
x=int(input("enter the size of list"))
y= int(input("enter the size of sublist"))
list1=[]
sublist=[]
for i in range(x):
    for j in range(y):
        sublist.append(input())
        print(sublist)
    list1.append(sublist)
#     print(list1)
    sublist=[]
print (list1)

In [18]:
x = ['Deepu','Rahul','Sanjay']
y = [43,34,12]
nested_1 = []
nested_2 = []
for i in y:
    for j in x:
        nested_1.append(j)
        nested_1.append(i)
        print(nested_1)
#         print(f' inside the nested loop {j}')
    nested_2.append(nested_1)
    print(nested_2)
#     print(f'inside the for loop {i}')

['Deepu', 43]
['Deepu', 43, 'Rahul', 43]
['Deepu', 43, 'Rahul', 43, 'Sanjay', 43]
[['Deepu', 43, 'Rahul', 43, 'Sanjay', 43]]
['Deepu', 43, 'Rahul', 43, 'Sanjay', 43, 'Deepu', 34]
['Deepu', 43, 'Rahul', 43, 'Sanjay', 43, 'Deepu', 34, 'Rahul', 34]
['Deepu', 43, 'Rahul', 43, 'Sanjay', 43, 'Deepu', 34, 'Rahul', 34, 'Sanjay', 34]
[['Deepu', 43, 'Rahul', 43, 'Sanjay', 43, 'Deepu', 34, 'Rahul', 34, 'Sanjay', 34], ['Deepu', 43, 'Rahul', 43, 'Sanjay', 43, 'Deepu', 34, 'Rahul', 34, 'Sanjay', 34]]
['Deepu', 43, 'Rahul', 43, 'Sanjay', 43, 'Deepu', 34, 'Rahul', 34, 'Sanjay', 34, 'Deepu', 12]
['Deepu', 43, 'Rahul', 43, 'Sanjay', 43, 'Deepu', 34, 'Rahul', 34, 'Sanjay', 34, 'Deepu', 12, 'Rahul', 12]
['Deepu', 43, 'Rahul', 43, 'Sanjay', 43, 'Deepu', 34, 'Rahul', 34, 'Sanjay', 34, 'Deepu', 12, 'Rahul', 12, 'Sanjay', 12]
[['Deepu', 43, 'Rahul', 43, 'Sanjay', 43, 'Deepu', 34, 'Rahul', 34, 'Sanjay', 34, 'Deepu', 12, 'Rahul', 12, 'Sanjay', 12], ['Deepu', 43, 'Rahul', 43, 'Sanjay', 43, 'Deepu', 34, 'Rahul', 34, 'Sanjay', 34, 'Deepu', 12, 'Rahul', 12, 'Sanjay', 12], ['Deepu', 43, 'Rahul', 43, 'Sanjay', 43, 'Deepu', 34, 'Rahul', 34, 'Sanjay', 34, 'Deepu', 12, 'Rahul', 12, 'Sanjay', 12]]

In [40]:
list_a = ['Deepu','Sachin','Mehra','Anil']
list_b = [32,43,34,35]
emp = []
emp_2 = []
for i in range(4):
    emp.append([])
    print(emp)
    for j in range(1):
        emp.append(list_a[i])
print(emp)

[[]]
[[], 'Deepu', []]
[[], 'Deepu', [], 'Sachin', []]
[[], 'Deepu', [], 'Sachin', [], 'Mehra', []]
[[], 'Deepu', [], 'Sachin', [], 'Mehra', [], 'Anil']

In [41]:
# we will first do it with normal for loop
empty = [] # define an empty list before hand 
for numb1 in range(4): # there will be 4 ieration process
    empty.append([]) # there will be 4 empty list append in the 'empty' list already defined in the above line 
    
    for numb2 in range(3):
        empty[numb1].append(numb1) # now [[][][][]] we are append numb1 in empty list whose index value is 0,1,2,3 this can be done as the list is empty 
        # empty[numb1].append(numb2)
        
print(empty)

[[0, 0, 0], [1, 1, 1], [2, 2, 2], [3, 3, 3]]

In [61]:
# damn bro 
list_a =['a','b','c']
list_b = [9,8,7]
empty = []
for i in range(len(list_a)):
    empty.append([])
 
    
    for j in range(1):
        empty[i].append(list_a[i])
    empty[i].append(list_b[i])    
print(empty)

[['a', 9], ['b', 8], ['c', 7]]

In [53]:
l=[9,8,7,5]
emp =[]
for i in range(3):
    emp.append(l[i])
print(emp)

[9, 8, 7]

In [65]:
name = ['Deepu','Sachin','Mehra','Anil','Chitu','Amit','Vikas']
marks = [32,36,38,35,33,34,39]
empty_list = []
for i in range(len(name)):
    empty_list.append([])
#print(empty_list)
    for j in range(1):
        empty_list[i].append(name[i])
# print(empty_list)
    empty_list[i].append(marks[i])
print(empty_list)

[['Deepu', 32], ['Sachin', 36], ['Mehra', 38], ['Anil', 35], ['Chitu', 33], ['Amit', 34], ['Vikas', 39]]

# Nested list question

## How to take user input

In [ ]:
x = [] # creating empty boxes
y = []
for _ in range(int(input('Enter the no. of iteration: '))): # this is the syntax
    name = input('Please enter name: ')
    score = int(input('Please enter marks: '))
    x.append(name) # will append what ever name you are entering in the list x
    y.append(score) # will append what ever name you are entering in the list y
print(x)
print(y)
# We will document this tomorrow

## lets created a nested list

In [ ]:
x = ['a','b','c','d']
y = [1,2,3,4]
z = []
for i in range(len(x)):
    z.append([]) # we have created empty boxes, we will append elements in x and elements in y one after the other 
#     print(z)
    for j in range(1):
        z[i].append(x[i])# here we are appending x[i] that is first element of x in empty box z[i] in z
#         print(z)
    z[i].append(y[i])# now since we have appended 
print(z)

# lets add a no. at first position using loop and built in insert function

In [1]:
# Lets do it with the built in method first 
lis = [1,3,5]
lis.insert(0,4564) # argument are index, the no. you want to add
print(lis)

[4564, 1, 3, 5]

In [2]:
# lets do it with the for loop 
val = int(input('Please enter the no. you want to add at first place: '))
lis = [1,3,5]
lisy = [] # creat an empty list and append the input val
lisy.append(val)
for i in range(len(lis)): # using range for index append all the elements in lis into lisy
    lisy.append(lis[i])
print(lisy)

Please enter the no. you want to add at first place: 78767
[78767, 1, 3, 5]

In [3]:
# Next try adding an user defined no. at user defined index without using built in method

In [5]:
d='deepu'
print(hash(d)) # returns a number this means its immutable

2447648187267529568

In [2]:
x = 4
print(hash(x)) # return the variable assigned this means its mutable i.e int is mutable

4

In [7]:
x = 4.4
print(hash(x)) #returns a number this means it is immutable

922337203685478404

In [11]:
l = [1,2,3,4]
t = tuple(l)
print(t)
print(hash(t))

(1, 2, 3, 4)
590899387183067792

In [2]:
x = 'This is a string'
a=x.split(" ")
print(a)

['This', 'is', 'a', 'string']

In [4]:
a = "-".join(a)
print(a)

This-is-a-string

In [8]:
line = str(input())
string = line.split(" ")
hyphened_string=" ".join(string)
print(hyphened_string)

this is cool
this is cool

In [10]:
x = 'deepu kumar'
'-'.join(x)

'd-e-e-p-u- -k-u-m-a-r'

In [12]:
lis = ['1','2','3']
' '.join(lis)

'1 2 3'

In [15]:
string = str(input())
splity = string.split(' ')
#print(splity)
hypened_string='-'.join(splity)
print(hypened_string)

this is us
this-is-us

In [8]:
s = 'abracadabra'
y  = []
for i in s:
    y.append(i)
y[5] = 'k'   
print(y)
z=''.join(y)
print(z)

['a', 'b', 'r', 'a', 'c', 'k', 'd', 'a', 'b', 'r', 'a']
abrackdabra