In [1]:
# Practice

In [4]:
import numpy as np 
import pandas as pd
import glob

In [8]:


# List of file names
files = ['Book1.csv', 'Book2.csv', 'Book3.csv']

# Empty list to store DataFrames
df_list = []

# Iterate through file names
for file in files:
    # Read CSV into DataFrame
    df = pd.read_csv(file)
    # Append DataFrame to list
    df_list.append(df)

# Concatenate all DataFrames into one
result = pd.concat(df_list)

# Print the result
print(result)

FileNotFoundError: [Errno 2] No such file or directory: 'Book1.csv'

In [10]:
pwd

'C:\\Users\\Deepu\\Documents\\My_Python_codes'

In [11]:
cd C:\Users\Deepu\Desktop\data\experiment

C:\Users\Deepu\Desktop\data\experiment

In [12]:
pattern = '*.csv'
csv_files = glob.glob(pattern)

In [13]:
csv_files

['Book1.csv', 'Book2.csv', 'Book3.csv']

In [15]:
all_df = []
for files in csv_files:
    df=pd.read_csv(files)
    all_df.append(df)
# print(all_df)    
DataFramecombined = pd.concat(all_df,axis = 1)
display(DataFramecombined)

,Row ID,Order ID,Name,Freight Mode,Segment,Region,Priority,Sub Segment,Country,State or Province
0,1,6,Stephen Cooper,Express Road Cargo,Red Wine,North,Not Specified,Zinfandel,Australia,Northern Territory
1,2,193,Charles Freeman,Express Road Cargo,Red Wine,South,Critical,Cabernet Sauvignon,Australia,Northern Territory
2,3,322,Joshua George,Express Road Cargo,Rose / Sparkling Wine,West,Critical,Pinot Gris,Australia,Northern Territory
3,4,322,Joshua George,Express Road Cargo,Red Wine,West,Critical,Malbec,Australia,Queensland
4,5,358,Nicholas Perez,Air Cargo,White Wine,South,High,Cremant,Australia,Queensland
5,6,358,Nicholas Perez,Express Road Cargo,Rose / Sparkling Wine,South,High,Reisling,Australia,New South Wales
6,7,359,Marie Morrison,Air Cargo,White Wine,West,Medium,Cremant,Australia,New South Wales
7,8,386,Victor Castillo,Express Road Cargo,Red Wine,West,High,Zinfandel,Australia,Northern Territory
8,9,386,Victor Castillo,Express Road Cargo,Red Wine,West,High,Merlot,Australia,New South Wales
9,10,388,Billy Bradley,Express Road Cargo,Red Wine,East,Not Specified,Shiraz,Australia,Western Australia

lets document the steps

In [19]:
path = 'C:\Users\Deepu\Desktop\data\experiment'
all_files = glob.glob(path + '*.csv' )

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (4265545241.py, line 1)

In [23]:
glob.glob('Book*')

['Book1.csv', 'Book2.csv', 'Book3.csv']

In [25]:
glob.glob('excel lec*')

[]

In [26]:
cd C:\Users\Deepu\Desktop\data

C:\Users\Deepu\Desktop\data

In [27]:
glob.glob('excel lecture*')

['excel lecture 1 practice.xlsx', 'excel lecture 2 practice.xlsx']

In [29]:
pwd

'C:\\Users\\Deepu\\Desktop\\data'

In [31]:
cd C:\Users\Deepu\Desktop\data

C:\Users\Deepu\Desktop\data

In [33]:
wine = pd.read_excel(r'understanding_vlookup_through_wine_sales.xlxs')

FileNotFoundError: [Errno 2] No such file or directory: 'understanding_vlookup_through_wine_sales.xlxs'

In [34]:
cd C:\Users\Deepu\Downloads

C:\Users\Deepu\Downloads

In [37]:
air = pd.read_excel('AirbnbNYC2019-210324-121446.xlsx')

In [36]:
glob.glob('Airbnb*')

['Airbnb NYC 2019 (1).csv',
 'Airbnb NYC 2019.csv',
 'AirbnbNYC2019-210324-121446.xlsx']

In [38]:
air

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaT,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaT,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaT,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaT,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaT,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaT,NaN,1,23

# What are we going to learn in this notebook

## How to load multiple csv files and concate them into one dataframe

## How to load a excel file and convert it into a dataframe

## Explaination of the functions as and when required

# Load multiple CSV files using for loop

In [1]:
# lets import the important modules and library first 
import numpy as np 
import pandas as pd 
import glob

We have already made acquaintance with pandas and numpy.

**What is the glob library then** 

The glob module in Python is primarily used for working with file names that match a specific pattern. Here are a few common use cases for the glob module:

Finding all files that match a specific pattern in a directory: The glob.glob function can be used to find all the file names in a directory that match a specific pattern, such as all .csv files or all files that start with a specific prefix.

Reading and processing multiple files in a directory: Once you have a list of file names that match a specific pattern, you can use a for loop or other method to read and process each file. For example, you can use the glob.glob function to find all the .csv files in a directory, and then use the pandas.read_csv function to read each file into a DataFrame.

Backup and archiving: You can use the glob module to find all files that match a certain pattern, and then use them to make a backup or archive them.

Data Preprocessing: You can use glob module to collect all the dataset that match a certain pattern and use them to preprocess the data.

Automating tasks: You can use glob module to automate tasks that are performed on multiple files that match a certain pattern.

These are just a few examples of how the glob module can be used. The possibilities are endless, as it provides a simple and efficient way to work with multiple files that match a specific pattern

In short what glob basically does is it finds things for you consider this you and Sanu were playing football and Sanu lost 5 Rs coin he told you to search the coin to which you asked where should I look can you provide me location/address to start looking for the coin . This is what glob module is also used for you provide the directory where you want to search for a particular file starting with or contains , these starting with/contains are called wildcard

## Step 1 : Find the present directory

In [2]:
pwd

'C:\\Users\\Deepu\\Documents\\My_Python_codes'

## Step 2 : Change the present directory to the directory where the files you want to upload are located

In [3]:
cd C:\Users\Deepu\Desktop\data\experiment

C:\Users\Deepu\Desktop\data\experiment

## Step 3 : Recheck the present directory to check if you have reached the right directory

In [5]:
pwd

'C:\\Users\\Deepu\\Desktop\\data\\experiment'

## Step 4: Use the glob module, The glob.glob() will check is the file you want to load is present or not at the given directory

In [10]:
pattern = ('*.csv') # * represent xyz and .csv means file ending with csv
files = glob.glob(pattern)
print(files)

['Book1.csv', 'Book2.csv', 'Book3.csv']

**Note: Now the interpreter has the access to files which we want to upload to pandas we can run a for loop**

## Step 5: Run a for loop on the variable files which has all file we want and we will concatenate it along the axis = 1 
### That is it will be concatenated along column wise

In [14]:
list_of_df = []
for file in files:
    df = pd.read_csv(file) # converting the csv file into dataframe
    list_of_df.append(df) # making a list of dataframes
consolidated_df = pd.concat(list_of_df,axis = 1) # concatenating the dataframe 
display(consolidated_df)

,Row ID,Order ID,Name,Freight Mode,Segment,Region,Priority,Sub Segment,Country,State or Province
0,1,6,Stephen Cooper,Express Road Cargo,Red Wine,North,Not Specified,Zinfandel,Australia,Northern Territory
1,2,193,Charles Freeman,Express Road Cargo,Red Wine,South,Critical,Cabernet Sauvignon,Australia,Northern Territory
2,3,322,Joshua George,Express Road Cargo,Rose / Sparkling Wine,West,Critical,Pinot Gris,Australia,Northern Territory
3,4,322,Joshua George,Express Road Cargo,Red Wine,West,Critical,Malbec,Australia,Queensland
4,5,358,Nicholas Perez,Air Cargo,White Wine,South,High,Cremant,Australia,Queensland
5,6,358,Nicholas Perez,Express Road Cargo,Rose / Sparkling Wine,South,High,Reisling,Australia,New South Wales
6,7,359,Marie Morrison,Air Cargo,White Wine,West,Medium,Cremant,Australia,New South Wales
7,8,386,Victor Castillo,Express Road Cargo,Red Wine,West,High,Zinfandel,Australia,Northern Territory
8,9,386,Victor Castillo,Express Road Cargo,Red Wine,West,High,Merlot,Australia,New South Wales
9,10,388,Billy Bradley,Express Road Cargo,Red Wine,East,Not Specified,Shiraz,Australia,Western Australia

# Now lets come to loading of excel file and converting it into dataframe

# we have to follow the same steps that we follow during loading of csv file

In [16]:
pwd

'C:\\Users\\Deepu\\Desktop\\data\\experiment'

In [20]:
cd C:\Users\Deepu\Downloads

C:\Users\Deepu\Downloads

In [21]:
pwd

'C:\\Users\\Deepu\\Downloads'

In [22]:
df = pd.read_excel('AirbnbNYC2019-210324-121446.xlxs')
display(df)

FileNotFoundError: [Errno 2] No such file or directory: 'AirbnbNYC2019-210324-121446.xlxs'

In [24]:
cd C:\Users\Deepu\Downloads

C:\Users\Deepu\Downloads

In [27]:
df = pd.read_excel(r'AirbnbNYC2019-210324-121446.xlxs')
display(df)

FileNotFoundError: [Errno 2] No such file or directory: 'AirbnbNYC2019-210324-121446.xlxs'

In [28]:
path_files = ('Air*')
glob.glob(path_files)

['Airbnb NYC 2019 (1).csv',
 'Airbnb NYC 2019.csv',
 'AirbnbNYC2019-210324-121446.xlsx']

In [29]:
df = pd.read_excel('AirbnbNYC2019-210324-121446.xlsx')

In [30]:
display(df)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,2539,Clean & quiet apt home by the park,2787,John,Brooklyn,Kensington,40.64749,-73.97237,Private room,149,1,9,2018-10-19,0.21,6,365
1,2595,Skylit Midtown Castle,2845,Jennifer,Manhattan,Midtown,40.75362,-73.98377,Entire home/apt,225,1,45,2019-05-21,0.38,2,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,4632,Elisabeth,Manhattan,Harlem,40.80902,-73.94190,Private room,150,3,0,NaT,NaN,1,365
3,3831,Cozy Entire Floor of Brownstone,4869,LisaRoxanne,Brooklyn,Clinton Hill,40.68514,-73.95976,Entire home/apt,89,1,270,2019-07-05,4.64,1,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,7192,Laura,Manhattan,East Harlem,40.79851,-73.94399,Entire home/apt,80,10,9,2018-11-19,0.10,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48890,36484665,Charming one bedroom - newly renovated rowhouse,8232441,Sabrina,Brooklyn,Bedford-Stuyvesant,40.67853,-73.94995,Private room,70,2,0,NaT,NaN,2,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,6570630,Marisol,Brooklyn,Bushwick,40.70184,-73.93317,Private room,40,4,0,NaT,NaN,2,36
48892,36485431,Sunny Studio at Historical Neighborhood,23492952,Ilgar & Aysel,Manhattan,Harlem,40.81475,-73.94867,Entire home/apt,115,10,0,NaT,NaN,1,27
48893,36485609,43rd St. Time Square-cozy single bed,30985759,Taz,Manhattan,Hell's Kitchen,40.75751,-73.99112,Shared room,55,1,0,NaT,NaN,6,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,68119814,Christophe,Manhattan,Hell's Kitchen,40.76404,-73.98933,Private room,90,7,0,NaT,NaN,1,23

**some times some times you have to beat your head on the wall**

# Now lets learn a bit about glob function as well

## Our aim is to find the cats photo at provided address lets do start

In [1]:
pwd

'C:\\Users\\Deepu\\Documents\\My_Python_codes'

In [2]:
cd C:\\Users\\Deepu\\Pictures

C:\Users\Deepu\Pictures

In [5]:
pattern = ('cat*')
glob.glob(pattern)

[]

so the wild card 'cat*' means that the file starting with cat but we know that we have name our images as Arab cat and Moksha 
cat so 'cat' is the second word

In [6]:
# lets try this one instead
pattern = ('*cat*')
glob.glob(pattern)

['Arab cat.PNG', 'Moksha cat.PNG']

In [7]:
pattern = ('*cat')
glob.glob(pattern)

[]